* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	scroll-behavior: auto;
}

body {
	overflow-x: hidden;
	background: transparent;
}

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
	display: none;
}

.page-root {
	position: relative;
	width: 100%;
	min-height: 100%;
}

.stage-fixed {
	position: fixed;
	inset: 0;
	z-index: 10;
}

.gradient-bg {
	position: absolute;
	inset: 0;
	z-index: 0;
	background: linear-gradient(to bottom, #9da4ac 0%, #ced1d0 100%);
}

.scroll-container {
	position: relative;
	z-index: 0;
}

.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 910;
	pointer-events: none;
}

.bg-overlay-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	pointer-events: none;
}

#threejsCanvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 30;
	pointer-events: none;
}

#fluidCanvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 20;
	pointer-events: auto;
}

.scroll-section {
	height: 800vh;
	position: relative;
	z-index: 1;
}

.logo-container {
	position: fixed;
	top: 4vh;
	left: 5vw;
	z-index: 40;
}

.logo {
	width: 11.516rem;
	height: 3rem;
	opacity: 1;
}

.cards-inner {
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 50;
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin: 0 auto;
}

.card-position {
	position: absolute;
}

.card-position--left-middle {
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
}

.card-position--right-bottom {
	right: 15%;
	bottom: 15%;
}

.card-position--right-middle {
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
}

#preloader-overlay.preloader-overlay {
	position: fixed;
	inset: 0;
	background: #000;
	z-index: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: auto;
	align-items: flex-start;
	padding-top: 55vh;
}

#preloader-counter.preloader-counter {
	color: #fff;
	font-family: ProtoMono, sans-serif;
	font-weight: 600;
	font-size: 1rem;
}

@keyframes preloaderExit {
	0% {
		opacity: 1;
	}
	69.3% {
		opacity: 0.6;
	}
	100% {
		opacity: 0;
	}
}

.preloader-overlay.preloader-exit {
	animation: preloaderExit 3.367s ease-in-out forwards;
}
