---

---

<div id='scroll-indicator' class='scroll-indicator'>0.0%</div>

<style>
	.scroll-indicator {
		position: fixed;
		top: 1rem;
		right: 1.5rem;
		z-index: 1000;
		color: #46545f;
		font-size: 1rem;
		font-family: 'ProtoMono', sans-serif;
		font-weight: 600;
	}
</style>
